* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to right, #ADD8E6 75%, #FEEFDD 25%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
}

.top-bar {
  text-align: right;
  padding: 20px;
}

.top-bar h1 {
  font-size: 2rem;
  color: #1c2c45;
  text-align: left;
}
.mid-bar::before {
  content: "";
  position: absolute;
  right: 400px;
  top: 1%;
  width: 100px;
  height: 200px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><circle cx="5" cy="5" r="2" fill="%23ffffff" opacity="0.5"/></svg>') repeat;
  background-size: 10px 10px;
}
.mid-bar .spacing {
  flex: 1;
  position: relative;
  z-index: 1;
}
.mid-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.mid-bar .spacing {
  flex: 1;
}

.mid-bar .spacing h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #1c2c45;;
}

.mid-bar .spacing p {
  font-size: 1.2rem;
  color: #1c2c45;;
}

.bottom-bar {
  padding: 20px;
}

.bottom-bar .spacing {
  padding-left: 0; /* Removed unnecessary padding */
}
.bottom-bar::before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><circle cx="5" cy="5" r="2" fill="%23ffffff" opacity="0.5"/></svg>') repeat;
  background-size: 10px 10px;
}
.bottom-bar .spacing p {
  font-size: 1rem;
  color: #1c2c45;;
  line-height: 1.5;
}

.img img {
  height: 300px;
  position: relative;
  z-index: 1;
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.026);
}
.box {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.box::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  z-index: -1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}